<div class="Registrate">

<h2>Registrate</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :dirección %><br />
    <div class="row">
      <div class="col-md-10">
        <%= f.text_field :address,
        class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <!-- <%= link_to "#",class: "btn btn-primary", id:"find-address" do %>
        <i class= "fa fa-map-marker"> </i>
        <% end %> -->
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :Teléfono %><br />
    <%= f.text_field :phone, autocomplete: "phone" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
$("#find-address").click(function(event)){
  $(this).html('<i class = "fa fa-spinner fa-spin"> </i>')
  event.preventDefault();

   if (navigator.geolocation) {
   navigator.geolocation.getCurrentPosition(getAddress);
   } else {
   x.innerHTML = "Geolocation is not supported by this browser.";
   }
  }
  function getAddress(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
      $.ajax({
      url: '/geocoder/findaddress',
      type: 'GET',
      dataType: 'script',
      data: {latitude: latitude, longitude: longitude}
      })

      .done(function(){
        console.log("success");
      })

      .fail(function(){
        console.log("error");
      })

      .always(function(){
      $("#find-address").html('<i class = "fa fa-map-marker"> </i>');
      });
alert(position.coords.latitude);
}
</script>
</div>
