<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> No puedes crear mascota:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Foto_Mascota %>
    <%= form.file_field :photo, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Mascota %>
    <%= form.select :specie, [["Perro"], ["Gato"],["Erizo"], ["Conejo"],
    ["Ave"], ["Serpiente"],["Iguana"],["Roedor"],["Hurón"],["Hamster"]] %>
  </div>

  <div class="field">
    <%= form.label :Registro_Municipal %>
    <%= form.check_box :municipal_record %>
  </div>

  <div class="field">
    <%= form.label :Vacunas_al_día %>
    <%= form.check_box :vaccines %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.select :sex, [["M", 0],["F", 1]] %>
  </div>

  <div class="field">
    <%= form.label :Tamaño %>
    <%= form.select :size, Pet.sizes.keys %>
  </div>

  <div class="field">
    <%= form.label :Rango_Edad %>
    <%= form.select :age, Pet.ages.keys %>
  </div>

  <div class="field">
    <%= form.label :descripción %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
