<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo, multiple: true %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :specie %>
    <%= form.select :specie, [["Perro"], ["Gato"],["Erizo"], ["Conejo"],
    ["Ave"], ["Serpiente"],["Iguana"],["Roedor"],["Hurón"]] %>
  </div>

  <div class="field">
    <%= form.label :municipal_record %>
    <%= form.check_box :municipal_record %>
  </div>

  <div class="field">
    <%= form.label :vaccines %>
    <%= form.check_box :vaccines %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.select :sex, [["M", 0],["F", 1]] %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.select :size, Pet.sizes.keys %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.select :age, Pet.ages.keys %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
