
<div class="Mascota_registrada">

<div class="row">

</div>
<p>
  <strong>Foto:</strong></br>
  <%= image_tag @pet.photo[0].url %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Mascota:</strong>
  <%= @pet.specie %>
</p>

<p>
  <strong>Permiso Municipal:</strong>
  <% if @pet.municipal_record == true %>
  si
  <% else %>
  no
  <% end %>
</p>

<p>
  <strong>Vacunas al día:</strong>
  <% if @pet.vaccines == true %>
  si
  <% else %>
  no
  <% end %>
</p>

<p>
  <strong>Sexo:</strong>
  <% if @pet.sex == true %>
  Femenino
  <% else %>
  Masculino
  <% end %>
</p>

<p>
  <strong>Tamaño:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @pet.age %>
</p>

</div>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
</div>
