<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @pet.photo[0].url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Specie:</strong>
  <%= @pet.specie %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Municipal record:</strong>
  <%= @pet.municipal_record %>
</p>

<p>
  <strong>Vaccines:</strong>
  <%= @pet.vaccines %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pet.sex %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pet.size %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pet.age %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
