<div class= "container">
  <div class= "row">
    <% @photos.each do |photo| %>
    <div class= "col">
      <%= photo.name %>

     </div>
      <% end %>
    </div>
  </div>

<p id="notice"><%= notice %></p>

<h1>Mascotas</h1>


  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.name %></td>
        <td><%= image_tag photo.image.url, size: "200x200", class: 'img-responsive' %></td>
        <td><%= photo.description %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
